@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html {
    font-family: 'Questrial', sans-serif;
    color: #fff;
    line-height: 2rem;
    font-size: 18px;
}

h1,h2,h3 {
    padding-top: 40px;
}

.container {
    max-width: 400px;
    padding: 30px;
    background: #19293c;
    margin: auto;
}

.clr {
    clear:both;
}

.text-done {
    color: #404040;
    text-decoration:line-through;
}

main {
    min-height: 100vh;
}

header {
    text-align: center;
    margin-bottom: -20px;
    font-size: 19px;
}

header h1,p {
    text-shadow: #f4f4f4 2px 2px 60px;
}

#item-list {
    list-style: none;
    padding-bottom: 30px;
}

#item-list li {
    padding: 8px 0;
    cursor: default;
}

#item-list li button {
    width: 10%;
    padding: 4px 8px;
    margin-right: 10px;
    color: rgb(167, 170, 174);
    border:0;
    border-radius: 2px;
    background: #233a55;
}

#item-list li button:hover, #enter:hover {
    background: #404040;
    cursor: pointer;
}

#userinput {
    display: block;
    background-color: #fff;
    padding: 8px;
    border: 0;
    border-radius: 2px;
    width: 60%;
    margin-right: 11px;
    margin-bottom: 20px;
    float: left;
}
  
#enter {
    display: block;
    font-weight: bolder;
    background: #404040;
    color: #fff;
    width: 30%;
    padding:8px;
    margin-bottom: 20px;
    border:0;
    border-radius: 2px;
    float: right;
}

#main-footer p {
    font-size: 11px;  
    text-align: center;
    text-shadow: #f5f5f5 2px 2px 20px;
}
#main-footer .container {
    padding: 10px;
    background: #233a55;
}

@media only screen and (max-width: 1000px) {
    body {
        background: #19293c;
    }

    #main-footer .container {
        max-width: 100%;
    }
}